@{
    ViewBag.Title = "Home Page";
}


<div class="container mt-5">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card px-5 py-4 rounded bg-light border-info shadow" id="form1">
                <div class="form-data">
                    <form action="#" v-on:submit.prevent="onLogin" class="needs-validation" novalidate>
                        <h3 class="mb-4">OTP Setting</h3>
                        
                        <div class="mb-3"><button type="submit" class="btn btn-primary">Update</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
